<!-- Clients Aside -->
    
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.eaaa.dk/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2020_style/img/logos/eaaa.png" class="img-responsive img-centered" alt="Erhvervsakademi Aarhus">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://systematic.com/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2020_style/img/logos/sse_logo_corpblue_cmyk.png" class="img-responsive img-centered" alt="Systematic">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="https://www.techhubaarhus.com/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2020_style/img/logos/Tech_Hub_Aarhus_Logo_m_OneLiner_R49_G87_B253.svg" class="img-responsive img-centered" alt="Tech Hub Aarhus">
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="https://techcityaarhus.com/" class="portfolio-link" data-toggle="modal">
                        <img src="../css/2020_style/img/logos/TechCity_Logo.png" class="img-responsive img-centered" alt="Tech City Aarhus">
                    </a>
                </div>
            </div>
        </div>
    </aside>
