<!DOCTYPE html>
<html>

  {% include 2020_data/head.html %}


    <body id="page-top" class="index">

    {% include 2020_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!--
                <div class="intro-heading" style="padding-bottom: 170px;">
	               <img src="/css/2020_style/img/logos/BSides_Aarhus_Transparent.png" width="900px" alt="BSides Aarhus"/>
	               BSides<br />Aarhus<br /> 2025
	            </div>
	            <div class="intro-lead-in">2025 Kickoff</div>
                <div class="intro-lead-in">Sønderhøj 30, 8260 Viby J</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
                -->
            </div>
        </div>
    </header>

    {% include 2020_data/intro.html %}
    {% include 2020_data/about.html %}
    {% include 2020_data/sponsors.html %}
    {% include 2020_data/contact.html %}
    {% include 2020_data/footer.html %}
<!--    {% include 2020_data/speakers_info.html %} --> 
    {% include 2020_data/js.html %}

    </body>
</html>
